@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0%;
}

html {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

/***** GLOBAL CLASSES *****/

a {
  text-decoration: none;
  color: var(--text-grey);
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,p {
  cursor: pointer;
}


:root {

  /*----------------THEME COLORS ---------------*/
  --primary:#F1EAF3;
  --black: #000000;
  --white: #ffffff;
  --primary-text: #A790AD;
  --secondary: #861da0;

  /*----------------- GRADIENT COLOR -------------*/

}

/* UTILITY CLASSES */
.flex{ display: flex;}
.flex-row{ flex-direction: row;}
.flex-column{ flex-direction: column;}
.flex-wrap{ flex-wrap: wrap;}
.block{ display: block;}
.inline-flex{ display: inline-flex;}
.inline-block{ display: inline-block;}
.fixed{ position: fixed;}
.sticky{ position: sticky;}
.relative{ position: relative;}
.absolute{ position: absolute;}
.space-around{ justify-content: space-around;}
.space-between{ justify-content: space-between;}
.space-evenly{ justify-content: space-evenly;}
.justify-center{ justify-content: center;}
.flex-end{ justify-content: flex-end;}
.contents-center{ align-content: center;}
.items-center{ align-items: center;}
.text-center{ text-align: center;}

.font-span{ font-size: var(--font-span);}
.font-xs{ font-size: var(--font-xs);}
.font-sm{ font-size: var(--font-sm);}
.font-body{ font-size: var(--font-body);}
.font-display{ font-size: var(--font-display);}
.font-h3{ font-size: var(--font-h3);}
.font-h4{ font-size: var(--font-h4);}

.w-full{ width: 100%;}
.w-half{ width: 50%;}
.h-full{ height: 100%;}



/* Navigation */

nav .navbar{
  background: var(--primary);
  z-index: 3;
}

nav .navbar .navbar-contents{
 width: 94%;
 height: 62px;
 align-items: center;
}

.navbar-contents ul>li{
  padding: 24px 8px;
  color: var(--primary-text);  
  font-size: 16px;
  font-weight: 600;
}

.navbar-contents ul>li:hover{
  color: var(--primary);
  background: var(--secondary);
}

.navbar .btn-sign-up{
  color: var(--primary);
  padding: 6px 10px;
  border-radius: 11px;
  border: 2px solid #CD446D;
  background: var(--secondary);
  font-weight: 600;
  font-size: 16px;
}

.navbar .btn-sign-up:hover{
  transform: scale(1.4);
  transition: all .2s linear ;
}


/* Main */

main .bg-img{
  background-image: url('../public/images/background-image.png');
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  background-size: cover;
}

main .hero-page{
  top: 19.08%;
  left: 2.29%;
  gap: 25px;
}

main .hero-page .intro{
  padding-top: 57px;
  gap: 20px;
  color: var(--white);
}

main .hero-page .intro>h1{
  font-size: 48px;
  font-weight: 700;
  display: flex;
}

.hero-page .intro>p{
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  width: 400px;
  text-align: center;
}

.hero-page .intro .learn-btn{
  border-radius: 18px;
  padding: 8px 16px;
  border: 2px solid var(--secondary);
  background: rgba(255, 255, 255, 0.42);
}

.intro .learn-btn>a{
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary);
}

.hero-page .intro .learn-btn:hover {
  background: var(--secondary);
}

.hero-page .intro .learn-btn:hover a{
  color: var(--primary);
}


.city-posters{
  
  gap: 50px;
}

.label{
  color: #F63E3E;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  background: var(--black);
  padding: 25px 58.281px;
}

.australia .at{
  padding: 25px 68.726px;
}

.thailand .tl{
  padding: 25px 62.9375px;
}

.book-now{
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--black);
  background: rgba(245, 202, 239, 0.30);
}


.book-now a{
  background: linear-gradient(180deg, #CE5129 0%, rgba(219, 120, 64, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
}


footer>div{
  background: var(--black);
  color: var(--white);
  padding: 60px 0px;
}

.new-york:hover,
.australia:hover, 
.thailand:hover{
  transform: translate(20px, 40px);
  transition: all .5s ease-in-out;
}



/* viewport =< 1300px */
@media only screen and (max-width:720px) {
  .hero-page{
    justify-content: space-around;
  }

  .city-posters{
    justify-content: space-around;
  }

  main .bg-img{
    height: 60vh;
  }
}


